ol,ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: 99vw;
    min-width: 300px;
    font-family: sans-serif;
    font-size: 1em;
}
#container{
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: 200px;
    position: relative;
/*    background-color: #f7f6fd;*/
/*    border: 1px solid #000;*/
}

.upper{
    width: 100%;
    height: 40px;
    background-color: #a790e6;

}
.up{
    width: 450px;
    height: 40px;
    position: absolute;
    right: 40px;
}
.up>li{
    float: left;
}
.up>li>a{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    color: lightgray;
}
#search{
    width: 100px;
    float: left;
}

#ch{
    width: 120px;
    float: left;
    height: 40px;
    justify-content: center;
    line-height: 40px;
}
.sc{
    width: 20px;
    height: 20px;
    float: left;
}
.sc>img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 300px;
    height: 100px;
    padding: 10px 0;
    margin: 0 auto;
}
.logo>img{
    width: 100%;
    height: auto;

}
.main{
    width: 700px;
    height: 40px;
    margin: 0 auto;
/*    border: 1px solid #000;*/
}
.main>li{
    float: left;
    width: 100px;
    margin: 0 35px;
    height: 40px;
    text-align: center;
/*    border: 1px solid #000;*/
}
.main>li>a{
    display: block;
    font-size: 1.2rem;
    line-height: 40px;
    color: silver;
}
#main{
    width: 100%;
   padding-top: calc(640/1200*100%);
    background: url(images/slide2.png) no-repeat;
    background-size: cover;
}
#content1{
   width: 100%;
    background: url(images/content2.png) no-repeat;
    background-size: cover;
    padding-top: calc(10/1200*100%);
/*    border: 1px solid #000;*/
}
h2{
    text-align: center;
    color: #a790e6;
    padding: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: overline;
}
button{
    padding: 0.5%;
    margin: 1% 0.3%;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
.gallery{
    width: 100%;
    text-align: center;
}
.gallery .view_area{
    display: inline-block;
    position: relative;
    width: 250px;
    height: 300px;
/*    overflow: hidden;*/
border: 4px solid #cbbef0;
}
.gallery .view_area .photo{
    position: absolute;
    left: -500px;
    top: 0;
    width: 1500px;

}
.gallery .view_area .photo li{
    float: left;
    padding: 10px;
    width: 250px;
    height: 300px;
    font-size: 0.875em;
    color: #595757;
/*    border-left: 1px dotted #888;*/
    box-sizing: border-box;
}
.controller{

    text-align: center;
}
.collect{
    width: 100%;
    height: 190px;
    margin: 30px 0;
      display: flex;
    grid-template-rows: repeat(2,40px);
    justify-content: center;
    align-items: center;
/*    border: 1px solid #000;*/
}
.collect>img{
    cursor: pointer;
}
#content2{
    width: 100%;
    height: 1000px;
/*    background-color: #e8e3f1;*/
/*    background-color: #d1d3d4;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "item1 item2 item2 item3"
        "item1 item5 item5 item6"
        "item4 item5 item5 item6";
    width: 80%;
    height: 80%;
    grid-gap: 1%;
/*    border: 1px solid #000;*/
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-hover{
    position: absolute;
   display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
    height: 90%;
    background-color: #a790e6;
/*    opacity: 0;*/
    cursor: pointer;
    color: #a790e6;
    background-color: rgba(225,225,225,0.7);
    border: 5px solid #a790e6;
    opacity: 0.5;
}
.item a{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    z-index: 10;
}
.item:hover a{
    font-size: 2rem;
    color:  #a790e6;
    text-align: center;
    z-index: 10;
    font-weight: bolder;
}
.item-1:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover{
   background-size: auto 150%;
   transition: all .3s ease;
}
.item-2:hover{
    background-size: 150% auto ;
}

.item-1{
    grid-area: item1;
    background: url(images/necklace.jpg) center no-repeat;
    background-size: cover;

}
.item-2{
    grid-area: item2;
    background: url(images/couplering.jpg) center no-repeat;
    background-size: cover;
}
.item-3{
    grid-area: item3;
    background: url(images/wristlet.jpg) center no-repeat;
    background-size: cover;
}
.item-4{
    grid-area: item4;
    background: url(images/earring.jpg) center no-repeat;
    background-size: cover;
}
.item-5{
    grid-area: item5;
    background: url(images/weddingring.jpg) center no-repeat;
    background-size: cover;
}
.item-6{
    grid-area: item6;
    background: url(images/bridesmade.jpg) center no-repeat;
    background-size: cover;
}


#content3{
    width: 100%;
    padding-top: calc(1200/1200*100%);
    background: url(images/bg.png) no-repeat;
       background-size: cover;

}
#content4{
    width: 100%;
    height: auto;
      display: flex;
    justify-content: space-around;
    align-items: center;
}
.box1, .box2{
    width: 40%;
    height: 400px;
    margin: 5% 0%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box1{
    background: url(images/visitbg.png) no-repeat;
    background-size: cover;

}
#content4 p:hover{
   background-color: white;
    color: #86848f;
    transition: all .5s ease;
}

.box2{
    background: url(images/phonebg.png) no-repeat;
    background-size: cover;
}
.box1>p, .box2>p{
    width: 180px;
    text-align: center;
    padding: 2% 4%;
    border: 1px solid #fff;
    color: white;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 200px;
    background-color: grey;
    display: flex;
    flex-direction: column;

}
footer p{
    color: white;
    font-size: 1.4rem;
    padding: 5px;
}
.foot{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
i{
    font-size: 1.2rem;
    letter-spacing:1.5rem;
    text-align: center;
}
.copy{
    text-align: center;
    color: black;
    margin-top: 50px;
}
